[data-vocabulary-word] {
  margin: 4rem;
  color: #ccc;
  font-size: 1.5rem;
  opacity: 0.5; }
  [data-vocabulary-word] dt {
    color: #fff;
    font-family: 'Audiowide', monospace;
    text-transform: uppercase; }
  [data-vocabulary-word] dd {
    margin-top: 0.5rem;
    font-family: monospace;
    text-align: left; }
  [data-vocabulary-word] .usage {
    display: block;
    margin-top: 0.5rem;
    font-style: italic; }
