$spriteWidth: 82;
$spriteHeight: 123;

$rows: 5;
$columns: 10;

[data-sprite] {

  position: absolute;

  top: 0px;
  left: -30000px;

  width: 77px;
  height: 123px;

  display: block;

  margin-left: 3px;
  margin-right: 2px;

}

[data-sprite~=flip] {
  transform: scaleX(-1);
}

@for $position from 0 to 49 {
  [data-sprite-position="#{$position}"] {
    top: ( ($position - ($position % $columns) ) / 10) * $spriteHeight + px;
    left: ($position % $columns) * $spriteWidth + px;
  }
}
