body {

  text-align: center;
  background-color: lime;

}

game {

  display: block;

  margin-top: 50px;

  text-align: center;

}

screen {

  position: relative;

  width: 820px;
  height: 615px;

  display: block;

  margin: auto;
  margin-top: 20px;

  background-color: black;

}
