unicorn {

  z-index: 2;

  width: 120px !important;
  height: 123px;

  background-image: url("/generic-vocabulary-fest/img/unicorn.png");
  animation: unicorn-animation 2s steps(4) infinite;

}

@keyframes unicorn-animation {
   from { background-position:    0px; }
     to { background-position: -480px; }
}
