body {
  text-align: center;
  background-color: lime;
}

game {
  display: block;
  margin-top: 50px;
  text-align: center;
}

screen {

  margin: auto;
  margin-top: 20px;

  display: block;
  position: relative;

  background-color: black;

  width: 820px;
  height: 615px;

}

[sprite] {
  position: absolute;
  display: block;
  width: 77px;
  height: 123px;
  margin-left: 3px;
  margin-right: 2px;

  top: 0px;
  left: -30000px;
}

[sprite~=flip] {
  transform: scaleX(-1);
}

clown {
  z-index: 2;
    background-image: url("img/clown-sprite1.png");

    -webkit-animation: clown-animation 4s steps(8) infinite;
       -moz-animation: clown-animation 4s steps(8) infinite;
        -ms-animation: clown-animation 4s steps(8) infinite;
         -o-animation: clown-animation 4s steps(8) infinite;
            animation: clown-animation 4s steps(8) infinite;
}

@-webkit-keyframes clown-animation {
   from { background-position:    0px; }
     to { background-position: -616px; }
}

@-moz-keyframes clown-animation {
   from { background-position:    0px; }
     to { background-position: -616px; }
}

@-ms-keyframes clown-animation {
   from { background-position:    0px; }
     to { background-position: -616px; }
}

@-o-keyframes clown-animation {
   from { background-position:    0px; }
     to { background-position: -616px; }
}

@keyframes clown-animation {
   from { background-position:    0px; }
     to { background-position: -616px; }
}

unicorn {
  width: 120px !important;
  height: 123px;
  z-index: 2;
    background-image: url("img/unicorn.png");

    -webkit-animation: unicorn-animation 2s steps(4) infinite;
       -moz-animation: unicorn-animation 2s steps(4) infinite;
        -ms-animation: unicorn-animation 2s steps(4) infinite;
         -o-animation: unicorn-animation 2s steps(4) infinite;
            animation: unicorn-animation 2s steps(4) infinite;
}

@-webkit-keyframes unicorn-animation {
   from { background-position:    0px; }
     to { background-position: -480px; }
}

@-moz-keyframes unicorn-animation {
   from { background-position:    0px; }
     to { background-position: -480px; }
}

@-ms-keyframes unicorn-animation {
   from { background-position:    0px; }
     to { background-position: -480px; }
}

@-o-keyframes unicorn-animation {
   from { background-position:    0px; }
     to { background-position: -480px; }
}

@keyframes unicorn-animation {
   from { background-position:    0px; }
     to { background-position: -480px; }
}

balloon {
  z-index: 1;
    background-image: url("img/balloon-sprite1.png");

    -webkit-animation: balloon-animation 6s steps(10) infinite;
       -moz-animation: balloon-animation 6s steps(10) infinite;
        -ms-animation: balloon-animation 6s steps(10) infinite;
         -o-animation: balloon-animation 6s steps(10) infinite;
            animation: balloon-animation 6s steps(10) infinite;
}

@-webkit-keyframes balloon-animation {
   from { background-position:    0px; }
     to { background-position: -777px; }
}

@-moz-keyframes balloon-animation {
   from { background-position:    0px; }
     to { background-position: -777px; }
}

@-ms-keyframes balloon-animation {
   from { background-position:    0px; }
     to { background-position: -777px; }
}

@-o-keyframes balloon-animation {
   from { background-position:    0px; }
     to { background-position: -777px; }
}

@keyframes balloon-animation {
   from { background-position:    0px; }
     to { background-position: -777px; }
}

controls {
  display: block;
  margin: 40px auto;
}

controls > *, pause {
  font-weight: bold;
  font-size: 100px;
  background-color: black;
  color: yellow;
  border-radius: 100px;
}

left, right {
  padding: 0 25px;
  display: inline-block;
  margin: 0 50px;
}

up, down {
  display: block;
  width: 100px;
  margin: auto;
}

down {
  transform: rotate(180deg);
}

pause {
  display: block;
  width: 100px;
  margin: auto;
  transform: rotate(90deg);
}
